.inner-box
{
    height: 300px;
    background-color: rgba(0, 0, 0, 0.821);
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.contact-info 
{
    position: absolute;
    top: 100%;
    transition: all 0.5s ease-in-out;
    color: antiquewhite;
}
.inner-box:hover .contact-info
{
    top: 50%;
    transform: translateY(-50%);
}
.contact-info h4, h6, a
{
    font-weight: bolder;
}
.contact-info a
{
    text-decoration: none;
    color: red;
    transition: all 0.3s ease-in-out;
}
.contact-info a:hover
{
    color: blue;
}